.bio-header-container{
    position: relative;
    border-top: var(--BORDER-NINE);
}

.bio-title{
    width: fit-content;
    border-radius: 50%;
    background-color: var(--BG-COLOR-TWO);
    color: var(--FONT-COLOR-ONE);
    box-shadow: var(--BORDER-TWO);
}

.main-bio{
    position: relative;
}

.image-container{
    background-color: var(--BG-COLOR-TWO);
    box-shadow: var(--BORDER-TWO);
    border-radius: 50%;
    height: 110%;
    width: 95%;
    object-fit: cover;
    flex-shrink: 3;
}

.profile-pic{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: sepia(.5);
    flex-shrink: 3;
}

.bio-inner-container,
.icon-container{
    color: var(--FONT-COLOR-ONE);
    background-color: var(--BG-COLOR-TWO);
    box-shadow: var(--BORDER-TWO);
}

.kresge-link{
    transition: all .25s linear;
}

.kresge-link:hover{
    background-color: var(--FONT-COLOR-ONE);
    color: var(--BG-COLOR-TWO);
}

.bio-icon{
    font-size: 3.5rem;
    margin: .75rem;
    background-color: var(--BG-COLOR-TWO);
    padding: .25rem;
    color: var(---FONT-COLOR-ONE);
    border-radius: 15%;
    transition: all .25s linear;
}

.bio-icon:hover{
    background-color: var(--FONT-COLOR-ONE); 
    color: var(--BG-COLOR-TWO);
}