#Something{
    position: relative;
    top: .25rem;
    margin-right: 3.25rem;
    transform: rotate(200deg);
    /* background-color: red; */
  }

  .book{
    transform: rotate(180deg);
    /* margin-left: -10rem; */
    writing-mode: vertical-lr;
    transition: .25s linear;
  }

  .book:hover{
    background-color: rgba(134, 16, 39, 0.555);
  }