.animations{
  position: relative;
}

.animations-title{
  background-color: var(--BG-COLOR-TWO);
  color: var(--FONT-COLOR-ONE);
  width: fit-content;
  border-radius: 50%;
  box-shadow: var(--BORDER-TWO);
}

.bookshelf-container{
  background-color: var(--BG-COLOR-TWO);
  box-shadow: var(--BORDER-TWO);
}

.book-btn{
  border: var(--BORDER-ONE);
  color: var(--FONT-COLOR-ONE);
}

#Something{
    position: relative;
    top: .25rem;
    margin-right: 3.25rem;
    transform: rotate(200deg);
  }

  .book{
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    transition: .25s linear;
  }

  #Something{
    background-color: #67300F;
  }

  #Missing{
    background-color: #793216;
  }

  #Cover{
    background-color: #834420;
  }

  #Yaga{
    background-color: #61341B;
  }

  #Uncle{
    background-color: #5B260B;
  }

  #Something:hover,
  #Cover:hover,
  #Uncle:hover{
    background-color: var(--BG-COLOR-FOUR);
    color: var(--BG-COLOR-TWO);
  }

  #Missing:hover,
  #Yaga:hover{
    background-color: var(--BG-COLOR-SEVEN);
    color: var(--BG-COLOR-TWO);
  }


  .table{
    border-bottom: var(--BORDER-ONE);
  }