.body-container{
    position: relative;
    z-index: 1;
    border-top: var(--BORDER-FIVE);
    border-bottom: var(--BORDER-FIVE);
    font-family: var(--FONT-FOUR);
}

.body-container::before{
    position: absolute;
    content: '';
    background-image: url('/Table7.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .45;
    z-index: 0;
    filter: sepia(.45);
}