.header-main{
    color: var(--BG-COLOR-SIX);
    background-color: var(--BG-COLOR-TWO);
    font-family: var(--FONT-FOUR);
    font-weight: bold;
    border-bottom: var(--BORDER-NINE);
}

.subtitle-container{
    color: var(--BG-COLOR-TWO);
    background-color: var(--BG-COLOR-SIX);
    font-family: var(--FONT-FOUR);
    font-weight: bold;
    border-top: var(--BORDER-EIGHT);
    border-bottom: var(--BORDER-EIGHT);
    position: relative;
}

.subtitle{
    width: fit-content;
    border-radius: 5px;
    background-color: var(--BG-COLOR-TWO);
    color: var(--BG-COLOR-SIX);
    box-shadow: var(--BORDER-TWO);
    position: relative;
    z-index: 1;
}

.subtitle-container::before{
    content: '';
    position: absolute;
    width: 100%;
    border: var(--BORDER-NINE);
    outline: var(--BORDER-EIGHT);
    top: 50%;
}